.section__title,
.section__subtitle {
  width: 287px;
  padding-bottom: 31px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
}


.advantages-list__item {
  padding-top: 51px;
}

.advantages-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #ffffff;
  padding-left: 70px;
  padding-top: 35px;
}

.advantages-sublist__item-devil {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  padding-bottom: 37px;
  padding-top: 26px;
}

.advantages {
  text-align: center;
  padding-top: 29px;
}

.advantages-sublist__item {
  padding-bottom: 26px;
}

.advantages-sublist__item .advantages-sublist__text {
  line-height: 21px;
}
