.feedback-form-field {
  background-color: #f2f2f2;
  border: none;
  line-height: 58px;
  outline: none;
}

.feedback-review {
  resize: none;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.feedback-form_section {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
  }

  .introduction {
    width: 50%;
    padding: 0;
    margin: 0;
    order: 1;
  }

  .contacts {
    width: 100%;
    padding: 0;
    margin: 0;
    order: 3;
  }

  .review {
    order: 2;
    padding: 0;
    margin: 0;
}

  .attractions {
    order: 4;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
}

  .emotions {
    order: 5;
    width: 100%;
  }

  .form-button {
    order: 6;
  }

}
