.feedback-form-field {
  background-color: #f2f2f2;
  border: none;
  line-height: 58px;
  outline: none;
}

.feedback-review {
  resize: none;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.feedback-form_section {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
  }

  .form-button {
    order: 6;
  }
}
