body {
  background-color: #ff6347;
}

@media (min-width: @tablet-width) {
  body {
    background-color: #008000;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-color: #ffc0cb;
  }
}

