.page-title {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: #000000;
}

.page-subtitle {
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: #333333;
}
