.feedback-form {
  text-align: center;
}

.fieldset__title {
  border: none;
}

.form-list,
.form-list__name {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio__label {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding-top: 12px;
}

// .radio__input:checked + .radio__label::before {
//   border-color: #f2f2f2;
// }

.radio__label::before {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 15px solid #f2f2f2;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #f2f2f2;
}

.radio__input:checked + .radio__label::after {
  background: #000000;
  border-radius: 50%;
}

.radio__label::after {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 14px;
  top: 14px;
}

.checkbox__label {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding-top: 12px;
}

.checkbox__label::before {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  background: #f2f2f2;
}

.checkbox__label::after {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  background: #f2f2f2;
}

.checkbox__input:checked + .checkbox__label::before {
  border-color: #000000;
}

.checkbox__input:checked + .checkbox__label::after {
  background: url("../img/checkmark.svg") no-repeat center center;
}
