.site-list__item-link {
  color: #ffffff;
}

.site-list {
  font-weight: bold;
}

.site-list a {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  padding: 10px 0 5px 0;
}

@media (min-width: @tablet-width) {
  ul.site-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: 0 0;
    margin: 0 29px 0 48px;
  }

  .site-list a {
    font-size: 14px;
  }

  .site-list__item-link {
    color: #000000;
  }

  .site-list__item {
    text-align: left;
  }

  .site-list__item:nth-child(4n+2) {
    padding-right: 20px;
  }

  .site-list__item:nth-child(4n+3) {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: right;
    padding-right: 9px;
  }

  .site-list__item:nth-child(4n+4) {
    grid-column-start: 5;
    grid-column-end: 6;
    text-align: right;
  }
}
