.welcome {
  text-align: center;
  background-image: url("../img/back-desktop.jpg");
  background-color: rgb(215, 232, 242);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 389px;
  position: relative;
}

.welcome__image {
  height: 214px;
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (min-width: @tablet-width) {
  .welcome {
    background-image: url("../img/back-desktop.jpg");
  }

  .welcome__image {
    height: 350px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
